body {
  color: #000000;
}

section.saas-analysis,
/* a[href="http://example.com/"], */
/* .nav-push-item.d-none.d-xl-block, */
section.saas-project,
/* .saas-sponsor, */
.saas-features,
.saas-featured-users,
.saas-blog,
.saas-featured-users+.saas-pricing {
  display: none !important;
}

textarea,
input,
input[type="password"],
input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="color"],
input[type="datetime-local"],
input[type="range"],
input[type="month"],
input[type="week"],
input[type="search"],
input[type="time"] {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding-left: 23px;
  border: 0;
  height: 40px;
  background-color: #ffffff;
  box-shadow: unset;
  outline: 0;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  transition: .3s all;
}

textarea:focus,
input:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="datetime-local"]:focus,
input[type="range"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="search"]:focus,
input[type="time"]:focus {
  border-color: #444444;
  /* padding-left: 30px; */
}

input[type=checkbox],
input[type=radio] {
  display: inline-block;
  width: auto;
  height: auto;
  padding-left: 0;
  border: 0;
  background-color: transparent;
  outline: 0;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  margin-right: 10px;
}

.section-title {
  text-align: center;
}

.section-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

section.saas-testimonial.section-padding {
  padding-bottom: 0;
}


.banner-padding+.section-padding {
  padding-top: 220px;
  padding-bottom: 80px;
}

.pricing-button {}

.pricing-button>a:first-child,
a[href="https://qr.etalko.com/pricing"] {
  /* display: none !important; */
}



.header-navigation .nav_wrapper {
  background-color: red;
}

.copyright-area,
.header-navigation .nav-container {
  /* background-color: rgb(247 193 10 / 32%); */
}

.copyright-area {
  padding: 10px 0;
  background-color: #000000;
  position: relative;
}

.copyright-area:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -20px;
  margin: auto;
  background-color: #000000;
  width: 100%;
  height: 40px;
  z-index: -1;
  border-radius: 50%;
}

.copyright-area p,
.copyright-area {
  color: #ffffff;
}

.anim_pic {}

.anim_pic img {
  max-height: 400px;
}

.hero-content {
  /* text-align: center; */
}



.header-navigation .nav-container {

  position: absolute;
  top: 0;
  z-index: 1050;
  width: 100%;
  /* max-width: 1170px; */
  margin: auto;
  left: 0;
  right: 0;
  padding: 0;
  height: 60px;
}

.header-navigation .nav-container>div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1170px;
  margin: auto;
  align-items: center;
}

.breadcrumbs-section {
  margin-top: 60px;
}

.header-navigation.sticky {
  /* display: none; */
}

.header-navigation.sticky .nav-container {
  /* background-color: #ffffff; */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, .3); */
}

.header-navigation .nav-container .main-menu ul li>a {
  padding: 25px 15px !important;

}

.main-menu {
  display: none;
}

.home_wrapper {
  /* margin: 20px; */
  /* height: calc(100vh - 40px); */

}

.home_wrapper:after {}

.header-navigation.sticky .nav-container .main-menu ul li>a {
  padding: 15px !important;
}

.header-navigation .nav-container .nav-push-item .navbar-btn .main-btn {
  min-width: unset;
  max-width: unset;
  height: 50px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid;
}

.main-btn,
.nice-select {
  height: 40px !important;
  padding: 0px 10px !important;
  line-height: 40px;
  border-radius: 5px;
}

.saas-banner {
  position: relative;
  background: unset;
  padding: 160px 0 280px 0;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(-38deg, #0478e9 0%, #20fdee 100%);
  border-radius: 0 0 130% 40%;
  box-shadow: 0 20px 10px #1ffaed, 0 30px 10px #14c5ec, 0 40px 10px #0b9aea;
}

.saas-banner:after {
  content: '';
  position: absolute;
  right: 20%;
  bottom: 30%;
  width: 150px;
  height: 150px;
  border-radius: 10px 10px 50% 10px;
  background: linear-gradient(-38deg, #0478e9 0%, #20fdee 100%);
  animation: home_move 30s ease-in-out infinite;
  box-shadow: 0 5px 10px #1ffaed, 0 10px 10px #14c5ec, 0 15px 10px #0b9aea;
}

.saas-banner:before {
  content: '';
  position: absolute;
  left: 10%;
  top: 50%;
  width: 80px;
  height: 80px;
  border-radius: 10px 10px 50% 10px;
  background: linear-gradient(-38deg, #0478e9 0%, #20fdee 100%);
  animation: home_move 20s ease-in-out infinite;
  box-shadow: 0 5px 10px #1ffaed, 0 10px 10px #14c5ec, 0 15px 10px #0b9aea;
}

@keyframes home_move {
  0% {
    transform: translateY(0px) translateX(0px) scale(1);
  }

  25% {
    transform: translateY(10px) translateX(20px) scale(1.1);
  }

  50% {
    transform: translateY(-20px) translateX(-10px) scale(0.8);
  }

  75% {
    transform: translateY(10px) translateX(10px) scale(1.2);
  }

  100% {
    transform: translateY(0px) translateX(0px) scale(1);
  }
}


.icons_wrapper {
  text-align: right;
}

.icons_wrapper i {
  display: inline;
  background-image: linear-gradient(173deg, #ff00d7 30%, #50c7f5 67%, #72aaff 99%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 100px;
}

.icons_wrapper .row {
  justify-content: flex-end;
}

.icons_wrapper .row>div {
  margin-bottom: 30px;
}

.icons_wrapper .row>div:nth-child(4),
.icons_wrapper .row>div:nth-child(3) {
  margin-bottom: 0;
}

.icons_wrapper img {
  max-width: 100px;
}



.saas-banner .container {
  position: relative;
  z-index: 2;
  height: unset;
  margin: 0px 0;
  display: flex;
}


.saas-banner .shape {
  display: none;
  left: 0;
}

.saas-features .features-item {
  padding: 20px 50px;
  border-radius: 10px;
  border: 0;
  background-color: unset;
  box-shadow: unset;
  position: relative;
  z-index: 1;
  text-align: center;
  margin-bottom: 70px;
}

.saas-features .features-item:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  height: 300px;
  background-color: #f5f5f5;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
  z-index: -1;
  margin: auto;
  transform: rotate(45deg);
  border-radius: 20px;
}



.saas-features .section-title-one.section-title-two {
  margin-bottom: 90px;
  text-align: center;
}

.saas-features .features-item i {
  display: inline-block;
  margin-top: -50px;
  margin-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 50px 0px rgb(0 0 0 / 10%);
  padding: 15px;
  border-radius: 10px;
}

.saas-project .work-item .work-img {
  overflow: visible;
}

.saas-project .work-item .work-img img {
  width: unset;
  max-width: 100%;
  border-radius: 50%;
  border: 8px;
  border-style: groove;
  box-shadow: 3px 3px #f0f0f0, 6px 6px #e0e0e0;
}

.saas-project .work-item .work-info {
  padding: 10px 0px;
  border: 0;
  text-align: center;
  margin-top: 20px;
  border-bottom: 6px;
  border-bottom-style: groove;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.saas-project .work-item .work-img a.count {
  width: 40px;
  height: 40px;
  border: 4px;
  border-style: groove;
  padding: 0;
  border-radius: 50%;
}

.saas-featured-users .user-item {
  border-radius: 5px;
  border: 0;
  text-align: center;
  height: unset;
  border: 8px;
  border-style: inset;
  border-radius: 20px;
  padding: 20px !important;
}

.saas-featured-users .user-item .social-box {
  margin-bottom: 0;
}

.saas-featured-users .user-item .title {
  padding: 0;
}

.saas-featured-users .user-item .user-button {
  margin: 20px 0;
}

.saas-featured-users .user-item .user-button .main-btn {
  background-color: transparent;
  border: 1px solid !important;
}

.saas-featured-users .user-item .user-button .main-btn:hover {
  color: #ffffff !important;
}

.saas-banner .hero-content ul li:last-child {
  margin-left: 0;
}

.saas-banner .hero-content h1 {
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 25px;
  color: #ffffff;
}

.saas-testimonial .testimonial-item {
  border: 0;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  display: flex;
}

.saas-testimonial .testimonial-item .thumb {
  margin-left: -40px;
  margin-top: -10px;
}

.saas-testimonial .testimonial-item .content {
  text-align: left;
  margin-left: 15px;
}

.saas-testimonial .testimonial-item p {
  line-height: 1.2;
  font-size: 14px;
  margin-bottom: 0;
}

.saas-footer {
  overflow: hidden;
}

.saas-footer .footer-widget {
  display: none;
}

.saas-footer .footer-widget {
  background-color: unset;
  position: relative;
}

.saas-footer>div {
  position: relative;
  z-index: 1;
}

.saas-footer .footer-widget:after {
  content: '';
  position: absolute;
  right: -10%;
  bottom: -300px;
  height: 150%;
  width: 110%;
  z-index: -1;
  /* background-color: #fba100; */
  border-radius: 50% 0 0% 0;
  transform: skewX(0deg) rotate(11deg);
  opacity: .4;
}

.saas-banner .hero-content ul li .video-popup i,
.saas-banner .hero-content span.span {
  color: #ffffff !important;
}

.saas-banner .hero-content ul li .video-popup:after,
.saas-banner .hero-content ul li .video-popup {
  background-color: #ffffff !important;
}

.brand_logo {}

.brand_logo img {
  max-width: 100px;
}

.hero-img {
  display: none;
}

.banner-padding+section.saas-sponsor {
  padding: 100px 0;
  margin: 0;
}

.saas-sponsor .sponsor-item a img {
  width: 100%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 4px;
  border-style: groove;
  padding: 10px;
  border-radius: 10px;
}

.saas-sponsor {
  margin: 0;
}

.saas-banner .row {
  display: flex;
  align-items: center;
}




.contact-section.contact-page .contact-form {
  padding: 70px 15px;
  margin-bottom: -170px;
  position: relative;
  /* background-color: unset; */
}

@media(min-width:1600px) {
  .container-1600 {
    max-width: 1170px;
  }
}


.services {
  padding: 100px 0;
}

.services h1.title {
  font-weight: bold;
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 40px;
}

.services .row {
  /* margin-left: -15px; */
  /* margin-right: -15px; */
}

.services .item {
  border-radius: 0 0 30% 0;
  padding: 40px 20px;
  background-color: transparent;
  transition: 0.3s all linear;
  margin-bottom: 30px;
  background-image: linear-gradient(-38deg, #0478e9 0%, #20fdee 100%);
  box-shadow: 0 5px 10px #1ffaed, 0 10px 10px #14c5ec, 0 15px 10px #0b9aea;
}

.saas_two_feature_section .s2-feature_right .s2-feature_list .s2-feature_icon i,
.serv_img i {
  display: block;
  background-image: linear-gradient(-173deg, #0478e9 30%, #20fdee 67%, #5eafff 99%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
}

.serv_img i {
  line-height: 1;
}

/* .serv_img{position: relative; } */

.serv_img {
  width: 110px;
  height: 110px;
  line-height: 110px;
  margin-bottom: 25px;
  border-radius: 100%;
  box-shadow: 0px 14px 18px 0px rgb(1 105 228 / 25%);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}


.serv_img img {
  width: 70px;
  height: 70px;
}



.services .item:after {}

.services .item:hover {
  background-image: linear-gradient(38deg, #0478e9 0%, #20fdee 100%);
  border-radius: 10px;
}

.services .item p,
.services .item h4 {
  color: #ffffff;
}

.services .item:hover .serv_img:before,
.services .item:hover .serv_img:after {
  display: block;
  opacity: 1;
}

.services .item h4 {
  font-size: 22px;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 15px;
}

.services .item p {
  line-height: 1.5;
  font-size: 16px;
  height: 80px;
  overflow: auto;
}







@keyframes rotate {
  0% {
    top: -10px;
    left: -10px;
  }

  25% {
    top: 0px;
    left: 0px;
  }

  50% {
    top: 0px;
    left: 0px;
  }

  75% {
    top: 5px;
    left: 5px;
  }

  100% {
    top: -10px;
    left: -10px;
  }
}


.saas_two_feature_section,
.saas_two_feature_section h2,
.saas_two_feature_section p,
.saas_two_feature_section h3 {
  color: #ffffff !important;
}

.saas_two_feature_section {
  padding: 100px 0;
  background: linear-gradient(-38deg, #0478e9 0%, #20fdee 100%);
  border-radius: 0 0 50% 0;
  box-shadow: 0 5px 10px #1ffaed, 0 10px 10px #14c5ec, 0 15px 10px #0b9aea;
}

.saas_two_feature_section .s2-feature_text {
  max-width: 520px;
  /* padding: 40px 0 0 50px; */
}

.saas_two_feature_section .s2-feature_text h2 {
  font-size: 40px;
  line-height: 1.25;
  padding: 15px 0px 15px;
}

.saas_two_feature_section .s2-feature_text p {
  padding-bottom: 43px;
}

.saas_two_feature_section .s2-feature_text .saas_btn a {
  padding: 10px 25px 10px 25px;
}

.saas_two_feature_section .s2-feature_text .saas_btn a i {
  font-size: 20px;
  margin-right: 5px;
}

.saas_two_feature_section .s2-feature_right {
  /* padding-left: 35px; */
}

.saas_two_feature_section .s2-feature_right .s2-feature_list {
  margin-bottom: 30px;
  padding: 22px 32px 20px;
  border-radius: 10px;
  display: block;
  transition: 0.4s all ease-in-out;
  position: relative;
  box-shadow: 0 5px 10px #1ffaed, 0 10px 10px #14c5ec, 0 15px 10px #0b9aea;
}

.saas_two_feature_section .s2-feature_right .s2-feature_list:before {
  position: absolute;
  content: "";
  height: 0px;
  width: 5px;
  left: 0;
  top: 50%;
  border-radius: 50px;
  transform: translateY(-50%);
  transition: 0.3s all ease-in-out;
}

.saas_two_feature_section .s2-feature_right .s2-feature_list:hover:before {
  height: 60px;
}

.saas_two_feature_section .s2-feature_right .s2-feature_list .s2-feature_icon {
  width: 95px;
  float: left;
  height: 95px;
  border-radius: 100%;
  line-height: 105px;
  margin-bottom: 15px;
  position: relative;
  background-color: #ffffff;
}

.saas_two_feature_section .s2-feature_right .s2-feature_list .s2-feature_icon:after {
  left: 0;
  right: 0;
  top: 5px;
  width: 90%;
  height: 90%;
  content: "";
  margin: 0 auto;
  position: absolute;
  border: 5px solid #fff;
  border-radius: 100%;
}

.saas_two_feature_section .s2-feature_right .s2-feature_list .s2-feature_icon i {
  /* font-size: 30px; */
}

.saas_two_feature_section .s2-feature_right .s2-feature_list .s2-feature_text_box {
  max-width: 310px;
  display: inline-block;
}

.saas_two_feature_section .s2-feature_right .s2-feature_list .s2-feature_text_box h3 {
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 0px;
}

.saas_two_feature_section .s2-feature_right .s2-feature_list .s2-feature_text_box p {
  line-height: 1.3;
}

.saas_two_feature_section .s2-feature_right .s2-feature_list:hover {
  /* margin-left: 30px; */
  box-shadow: 0px 3px 43px 0px rgba(0, 0, 0, 0.13);
}


.navbar-links {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  list-style: none;
  margin-bottom: 0;
  margin-right: 20px;
}

.navbar-links li {}

.navbar-links li a {
  color: #ffffff;
  padding: 8px 20px;
  white-space: nowrap;
}

.header-navigation.sticky {}

.header-navigation.sticky .nav-container {
  background-color: #000000;
}


@media(min-width:1200px) {
  .saas-banner:after {}
}

@media(max-width:1200px) {
  .home_wrapper {
    margin: 0;
  }

  .header-navigation .nav-container {
    padding: 0px 20px;
    max-width: 100%;
  }

  .header-navigation .nav-container .nav-push-item .nice-select {
    height: 40px;
    line-height: 40px;
    height: unset;
  }

  .header-navigation .nav-push-item-container {
    display: flex;
    align-items: center;
  }

  .header-navigation {
    padding: 0px 0 !important;
  }

  .saas-banner:after {}

  .icons_wrapper {
    text-align: left;
  }

  .header-navigation .nav-container .nav-push-item.language {
    margin-right: 0px;
  }

  nav.main-menu {
    padding: 0 30px;
  }

  .header-navigation .nav-container.breakpoint-on .nav-menu .main-menu ul li {
    border: 0 !important;
  }

  .header-navigation .nav-container .main-menu ul li>a {
    padding: 5px 0px !important;
    border: 0 !important;
    font-weight: 300;

  }

  .banner-padding+.section-padding {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .saas-features .section-title-one.section-title-two {
    /* margin-bottom: 30px; */
  }

  .saas-analysis .choose-content-box p {
    text-align: center;
  }

  .work-item {
    margin-bottom: 30px;
  }

  .saas-footer .footer-widget:after {
    content: '';
    position: absolute;
    right: -0%;
    bottom: 00px;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: #fba100;
    border-radius: 0;
    transform: unset;
    opacity: .4;
  }

  .saas-footer .footer-widget {
    padding: 60px 0;
  }

  .section-title-one.section-title-two.mb-20 {
    text-align: center;
  }
}

@media(max-width:1200px) {
  .services [class*=col-] {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .services [class*=col-]:nth-child(even) {
    padding-left: 5px;
  }

  .services [class*=col-]:nth-child(oddn) {
    padding-right: 5px;
  }

  .services .row {
    /* margin-left: -15px; */
    /* margin-right: -15px; */
    max-height: 550px;
    overflow-y: auto;
  }

  .services .item p {
    /* height: unset; */
    line-height: 1.4;
    font-size: 14px;
  }

  .services .item {
    padding: 20px 10px;
    margin-bottom: 30px;
  }

  .services .item p,
  .services .item h4 {
    color: #ffffff;
  }


  #how-anchor {}

  #how-anchor .s2-feature_right {}

  #how-anchor .s2-feature_right [class*=col-] {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media(max-width:992px) {
  .saas-banner .hero-content h1 {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 25px;
  }

  .icons_wrapper img {
    max-width: 80px;
  }

  .anim_pic img {
    max-height: 300px;
    max-width: 100%;
    height: unset;
  }
}

@media(max-width:768px) {}

@media(max-width:576px) {
  /* .saas-banner {
    padding: 60px 0 0px 0;
  } */

  .saas-banner {
    border-radius: 0 0 40% 0%;
    padding: 130px 0 100px 0;
  }

  .icons_wrapper i {
    font-size: 80px;
  }

  /* .section-padding {
    padding-top: 0;
    padding-bottom: 0;
  } */

  .icons_wrapper .row>div {
    margin-bottom: 40px !important;
  }

  .icons_wrapper img {
    max-width: 100%;
  }

  .saas-banner .hero-content span.span:after {
    display: none;
  }



  .saas-banner {
    padding: 100px 0 100px 0;
  }

  .saas-banner:before {
    left: 0%;
    top: 40%;
    width: 60px;
    height: 60px;
  }

  .saas-banner:after {
    right: 0%;
    bottom: 40%;
    width: 100px;
    height: 100px;
  }

  .anim_pic {
    margin-bottom: -110px;
    margin-top: 0;
  }

  .saas-banner .hero-content span.span {
    margin-bottom: 0;
  }

  .saas-banner .hero-content h1 {
    font-size: 21px;
    margin-bottom: 0;
    font-weight: 600;
  }


  h1.title,
  .services h1.title {
    font-size: 25px;
    font-weight: 600;
  }

  .services .item h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .services .item h4 {
    /* white-space: unset; */
    /* text-overflow: unset; */
    /* overflow: unset; */
  }

  .serv_img {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
  }

  .serv_img i {
    font-size: 40px;
  }

  h1 {
    line-height: 1.3;
  }

  .saas_two_feature_section .s2-feature_right .s2-feature_list .s2-feature_text_box h3 {
    font-size: 18px;
    font-weight: 600;
  }

  .copyright-area,
  .copyright-area p {
    font-size: 14px;
  }


  .saas-banner {
    /* height: calc(100vh - 80px); */
  }


  #how-anchor .s2-feature_right [class*=col-]:nth-child(even) {
    padding-left: 10px;
  }

  #how-anchor .s2-feature_right [class*=col-]:nth-child(odd) {
    padding-right: 10px;
  }

  #how-anchor .s2-feature_right {}

  .saas_two_feature_section .s2-feature_right .s2-feature_list {
    padding: 20px 15px;
  }

  .saas_two_feature_section .s2-feature_right .s2-feature_list .s2-feature_text_box {
    display: block;
  }

  .saas_two_feature_section .s2-feature_right .s2-feature_list {
    /* background-color: #ffffff; */
    margin-bottom: 30px;
  }

  .saas_two_feature_section .s2-feature_right .s2-feature_list .s2-feature_icon i,
  .serv_img i {
    font-size: 40px;
  }

  .saas_two_feature_section .s2-feature_right .s2-feature_list .s2-feature_icon {
    width: 80px;
    float: none;
    margin-bottom: 15px;
    position: relative;
    height: 80px;
    line-height: 100px;
  }

  .saas_two_feature_section .s2-feature_right .s2-feature_list .s2-feature_text_box h3 {
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .saas_two_feature_section .s2-feature_right .s2-feature_list .s2-feature_text_box p {
    font-size: 14px;
    margin: 0;
    height: 60px;
    overflow-y: auto;
  }

}

@media(min-height:690px) {
  .saas-banner {
    /* height: calc(100vh - 0px); */
  }
}

@media(max-width:576px) and (min-height:690px) {
  .saas-banner {
    /* height: calc(100vh - 80px); */
    /* height: unset; */
  }

}